.note-card {
  height: max-content;
  position: relative;
  min-width: 18rem;
  max-width: 20rem;
  box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
  color: var(--bg-color);
  gap: 1.4rem;
  font-family: "Neuton", sans-serif;
}

.note-card-description {
  font-size: 1rem;
}

.note-title-pin-container {
  gap: 0.5rem;
}

.note-card-heading {
  width: 100%;
}

.note-card-actions-container {
  border-top: 1px solid #dbdbdb;
  align-items: stretch;
}

.note-card-actions-container button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.note-card-action-icon {
  font-size: 1.2rem;
  color: var(--bg-color);
}

.priority-container {
  border-radius: 50px;
  background-color: var(--text-color);
  width: fit-content;
}

@media only screen and (max-width: 310px) {
  .note-card {
    max-width: 80%;
  }
}
